<div class="row-fluid">

 <!-- data-spy="affix" data-offset-top="000"  -->
<div class="span1 offset1" id="sidebar">
    <%= link_to "Back to home", root_url, class:"btn btn-primary" %>
    <br><br>
    <% if can? :create, Link %>
        <%= link_to "Add a link", new_link_path, class:"btn btn-primary"%> <br/>
    <% end %>
</div>

<div class="span8">

<%= render 'links/showlinks', :links => @links %>

</div>

</div>